# BEGIN WordPress
<IfModule mod_rewrite.c>
DirectoryIndex index.php index.html
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /livesta/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /livesta/index.php [L]
</IfModule>
# END WordPress
